@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

/* @font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Black.ttf");
  font-weight: 900;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #250f49;
  color: #fff;
}

.hidden {
  visibility: hidden;
  /* display: none; */
}

.btn-primary {
  background-color: #eeb868;
  width: min-content;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #250f49;
}

.content {
  position: relative;
}

.main {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #eeb868;
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.category-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.category-info {
  text-align: center;
}

.category-info span:first-child {
  color: #eeb868;
}

.category-arrow {
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
  color: #eeb868;
  cursor: pointer;
}
/* 
.category-arrow:hover {
  background-color: #eeb868;
  color: #250f49;
} */

.category-left::before {
  content: "<";
}

.category-right::before {
  content: ">";
}

.question-section {
  text-align: center;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.question-info {
  position: relative;
  /* width: min-content; */
}

/* .question-info-content {
} */

.btn-delete-question {
  position: absolute;
  right: -2.5rem;
  top: -1rem;
  /* top: 50%;
  transform: translateY(-50%); */
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.btn-delete-question:hover {
  scale: 1.1;
}

.btn-delete-question.hidden {
  width: 0;
  height: 0;
  /* display: block; */
  /* visibility: hidden; */
}

.btn-delete-question img {
  width: 100%;
  height: 100%;
}

.question-content {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.btn-next {
  margin-top: 2rem;
}

.btn-next::before {
  content: "Next";
}

.api-type {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  left: 1rem;
  transition: all 0.3s ease-in-out;
}

.api-type:hover {
  scale: 1.1;
}

.api-type img {
  width: 64px;
  height: 64px;
}

.btn-add-question {
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #eeb868;
  color: #250f49;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.btn-add-question::before {
  content: "+";
}

.btn-add-question:hover {
  scale: 1.1;
}

.modal-add-question {
  position: relative;
  margin: auto;
  border-color: #eeb868;
  border-radius: 5px;
}

.btn-close-modal {
  cursor: pointer;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background-color: rgb(190, 190, 190);
  color: #250f49;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.btn-close-modal::before {
  content: "x";
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #eeb868;
}

.form-add-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #250f49;
  color: white;
  padding: 24px 12px;
}

.input-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.input-elem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.input-elem input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #eeb868;
  background-color: #250f49;
  color: white;
}

.form-submit-area {
  position: relative;
  /* display: flex;
  align-items: center;
  gap: 1rem; */
  margin-top: 2rem;
}

.form-submit-area .check-status {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -24px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.form-submit-area .check-status.success {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .category-arrow:hover {
    background-color: #eeb868;
    color: #250f49;
  }
}
